In [1]:
!python training.py

got here not test folder
got here1
creating 11x5 array of gloatingpoint numbers
       cols0     cols1     cols2     cols3     cols4
0   0.408008  0.919210  0.924777  0.280319  0.166033
1   0.656359  0.109873  0.493117  0.739727  0.059993
2   0.690007  0.845988  0.362227  0.371876  0.944912
3   0.685322  0.421562  0.662834  0.233470  0.217384
4   0.116067  0.003659  0.543910  0.212340  0.076262
5   0.784722  0.884727  0.283821  0.513541  0.888576
6   0.768557  0.471538  0.315250  0.129429  0.684498
7   0.416012  0.017300  0.619592  0.259365  0.206945
8   0.327748  0.093628  0.452743  0.722552  0.703251
9   0.507278  0.383736  0.304135  0.171307  0.402341
10  0.533176  0.681938  0.844424  0.150430  0.812540
got here2
get the data from a csv which contains cities, countries, and country codes
changing cities_countries_codes to dataFrame
displaying cities_countries_codes_dfcontent



               city country  code
0             tokyo   japan    81
1             delhi   india    91
2             accra   ghana   233
3            dayton     USA     1
4          Shanghai   china    86
5            mumbai   india    91
6            beijin   china    86
7          sao palo  brazil    55
8   rayo de janeiro  brazil    55
9             kyoto   japan    81
10           kumasi   ghana   233
11       washington     USA     1
12          ontario  canada     1
13          calgary  canada     1
got here3
got here4
got here5
Using CPU

Tensor x:
tensor([[-0.4928,  2.0318,  0.5553, -1.1718],
        [ 0.7517,  1.6282,  0.9796, -0.4966],
        [-2.2551, -0.7888,  1.1587, -0.6003]])
Shape of x: torch.Size([3, 4])
Device of x: cpu

Addition operation (x + y):
tensor([[-2.0778,  1.9007,  0.7324,  0.6055],
        [ 2.0175, -0.9509,  0.8465, -1.8583],
        [-3.0221, -0.3231,  1.7513, -0.5829]])

In-place addition (y.add_(x)):
tensor([[-2.0778,  1.9007,  0.7324,  0.6055],
        [ 2.0175, -0.9509,  0.8465, -1.8583],
        [-3.0221, -0.3231,  1.7513, -0.5829]])

Autograd example:
Gradient of a with respect to c: tensor([-0.2403])
Gradient of b with respect to c: tensor([-1.4972])

In [2]:
%run training

got here not test folder
got here1
creating 11x5 array of gloatingpoint numbers
       cols0     cols1     cols2     cols3     cols4
0   0.294973  0.191953  0.333791  0.697365  0.229508
1   0.281204  0.720855  0.038938  0.570450  0.870407
2   0.308047  0.074120  0.866882  0.909892  0.337814
3   0.935061  0.434081  0.780086  0.992656  0.161150
4   0.492084  0.902735  0.197744  0.171715  0.517622
5   0.516884  0.571060  0.155138  0.497267  0.936264
6   0.006952  0.068572  0.644597  0.812429  0.070871
7   0.160685  0.120578  0.916833  0.866638  0.062601
8   0.366690  0.592678  0.574138  0.999511  0.291459
9   0.355723  0.173924  0.606738  0.501805  0.051724
10  0.223065  0.147408  0.207274  0.729939  0.174992
got here2
get the data from a csv which contains cities, countries, and country codes
changing cities_countries_codes to dataFrame
displaying cities_countries_codes_dfcontent



               city country  code
0             tokyo   japan    81
1             delhi   india    91
2             accra   ghana   233
3            dayton     USA     1
4          Shanghai   china    86
5            mumbai   india    91
6            beijin   china    86
7          sao palo  brazil    55
8   rayo de janeiro  brazil    55
9             kyoto   japan    81
10           kumasi   ghana   233
11       washington     USA     1
12          ontario  canada     1
13          calgary  canada     1
got here3
got here4
got here5
Using CPU

Tensor x:
tensor([[-0.8590, -0.4501, -0.6440, -0.8225],
        [-0.1465,  1.8781, -0.0373, -1.2458],
        [-0.5688,  2.0189, -0.7383,  1.2256]])
Shape of x: torch.Size([3, 4])
Device of x: cpu

Addition operation (x + y):
tensor([[-0.7252, -1.0471,  0.0069, -1.9482],
        [ 0.5475,  0.9151, -1.6946, -1.5918],
        [-0.0042,  2.5075, -0.9089,  0.8403]])

In-place addition (y.add_(x)):
tensor([[-0.7252, -1.0471,  0.0069, -1.9482],
        [ 0.5475,  0.9151, -1.6946, -1.5918],
        [-0.0042,  2.5075, -0.9089,  0.8403]])

Autograd example:
Gradient of a with respect to c: tensor([0.9773])
Gradient of b with respect to c: tensor([1.2689])

In [7]:
%run training

got here not test folder
got here1
creating 11x5 array of gloatingpoint numbers
       cols0     cols1     cols2     cols3     cols4
0   0.630963  0.463312  0.978582  0.554012  0.308845
1   0.028809  0.879551  0.414646  0.258063  0.087391
2   0.158637  0.567747  0.153052  0.360585  0.094353
3   0.287653  0.455674  0.801245  0.942062  0.982844
4   0.927183  0.429466  0.273652  0.873740  0.839062
5   0.064728  0.429008  0.119804  0.172689  0.044196
6   0.188956  0.934048  0.565992  0.449418  0.327295
7   0.264720  0.247914  0.582389  0.968214  0.810556
8   0.063825  0.587971  0.866639  0.309151  0.580078
9   0.934657  0.573553  0.383043  0.141151  0.426893
10  0.522527  0.229075  0.582894  0.831177  0.167203
got here2
get the data from a csv which contains cities, countries, and country codes

AttributeError: csv

In [4]:
df2.tail()

        City Country  Population_Millions
0      Tokyo   Japan                 37.3
1      Delhi   India                 32.0
2   Shanghai   China                 28.5
3  Sao Paulo  Brazil                 22.4
4     Mumbai   India                 20.4

In [ ]:
df3

In [ ]:
num_py_random_data_to_Pd_df

In [ ]:
df

In [ ]:
cities_countries_codes_df

In [5]:
cities_countries_codes_df

               city country  code
0             tokyo   japan    81
1             delhi   india    91
2             accra   ghana   233
3            dayton     USA     1
4          Shanghai   china    86
5            mumbai   india    91
6            beijin   china    86
7          sao palo  brazil    55
8   rayo de janeiro  brazil    55
9             kyoto   japan    81
10           kumasi   ghana   233
11       washington     USA     1
12          ontario  canada     1
13          calgary  canada     1