In [1]:
!python training.py

got here not test folder
got here1
creating 11x5 array of gloatingpoint numbers
       cols0     cols1     cols2     cols3     cols4
0   0.480222  0.651869  0.709738  0.342536  0.647974
1   0.034698  0.023864  0.297258  0.836884  0.039237
2   0.559566  0.461485  0.856844  0.962139  0.731726
3   0.325683  0.735534  0.477253  0.948719  0.592739
4   0.939058  0.831489  0.369817  0.913620  0.546379
5   0.674761  0.297885  0.847005  0.756276  0.081245
6   0.570618  0.743547  0.795799  0.782728  0.474095
7   0.021795  0.935743  0.657476  0.600768  0.283085
8   0.087684  0.990814  0.561321  0.335389  0.867270
9   0.500968  0.983047  0.924349  0.942385  0.691036
10  0.653666  0.063192  0.004137  0.001180  0.936544
got here2
get the data from a csv which contains cities, countries, and country codes
changing cities_countries_codes to dataFrame
displaying cities_countries_codes_dfcontent



               city country  code
0             tokyo   japan    81
1             delhi   india    91
2             accra   ghana   233
3            dayton     USA     1
4          Shanghai   china    86
5            mumbai   india    91
6            beijin   china    86
7          sao palo  brazil    55
8   rayo de janeiro  brazil    55
9             kyoto   japan    81
10           kumasi   ghana   233
11       washington     USA     1
12          ontario  canada     1
13          calgary  canada     1
got here3
got here4
got here5
Using CPU

Tensor x:
tensor([[ 0.9894,  0.1000, -0.7703, -0.4960],
        [ 0.2268,  1.6774,  1.4406,  0.0522],
        [ 2.1391, -1.1445, -0.1205,  0.8932]])
Shape of x: torch.Size([3, 4])
Device of x: cpu

Addition operation (x + y):
tensor([[ 1.0436,  0.9195, -0.1802, -1.5159],
        [ 0.0787,  1.8291,  1.9057,  0.4112],
        [ 1.2144, -0.8145, -1.3097,  1.8685]])

In-place addition (y.add_(x)):
tensor([[ 1.0436,  0.9195, -0.1802, -1.5159],
        [ 0.0787,  1.8291,  1.9057,  0.4112],
        [ 1.2144, -0.8145, -1.3097,  1.8685]])

Autograd example:
Gradient of a with respect to c: tensor([1.5983])
Gradient of b with respect to c: tensor([-0.1198])

In [ ]:
%run training

got here not test folder

In [7]:
%run training

got here not test folder
got here1
creating 11x5 array of gloatingpoint numbers
       cols0     cols1     cols2     cols3     cols4
0   0.630963  0.463312  0.978582  0.554012  0.308845
1   0.028809  0.879551  0.414646  0.258063  0.087391
2   0.158637  0.567747  0.153052  0.360585  0.094353
3   0.287653  0.455674  0.801245  0.942062  0.982844
4   0.927183  0.429466  0.273652  0.873740  0.839062
5   0.064728  0.429008  0.119804  0.172689  0.044196
6   0.188956  0.934048  0.565992  0.449418  0.327295
7   0.264720  0.247914  0.582389  0.968214  0.810556
8   0.063825  0.587971  0.866639  0.309151  0.580078
9   0.934657  0.573553  0.383043  0.141151  0.426893
10  0.522527  0.229075  0.582894  0.831177  0.167203
got here2
get the data from a csv which contains cities, countries, and country codes

AttributeError: csv

In [4]:
df2.tail()

        City Country  Population_Millions
0      Tokyo   Japan                 37.3
1      Delhi   India                 32.0
2   Shanghai   China                 28.5
3  Sao Paulo  Brazil                 22.4
4     Mumbai   India                 20.4

In [ ]:
df3

In [ ]:
num_py_random_data_to_Pd_df

In [ ]:
df

In [ ]:
cities_countries_codes_df

In [5]:
cities_countries_codes_df

               city country  code
0             tokyo   japan    81
1             delhi   india    91
2             accra   ghana   233
3            dayton     USA     1
4          Shanghai   china    86
5            mumbai   india    91
6            beijin   china    86
7          sao palo  brazil    55
8   rayo de janeiro  brazil    55
9             kyoto   japan    81
10           kumasi   ghana   233
11       washington     USA     1
12          ontario  canada     1
13          calgary  canada     1